# requirements.txt (producción)
numpy>=1.24,<1.26
pandas>=2.2,<2.3
scikit-learn>=1.5,<1.6
optuna>=3.2,<3.3
xgboost>=1.7,<1.8
lightgbm>=4.0,<4.1
joblib>=1.4,<1.5
plotly>=5.17,<6
matplotlib>=3.7,<3.9
seaborn>=0.13,<0.14
scipy>=1.11,<1.12
streamlit>=1.39,<1.40
